.top-bar {
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.profile-photo > img {
  width: 40px;
  border-radius: 50%;
}

.user-profile-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: end;
  width: 280px;
  gap: 20px;
  padding-right: 40px;
  font-size: 16px;
}

.search-bar {
  display: flex;
  background: #f4f4f4;
  color: darkgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 300px;
  margin-left: 60px;
}

.notification-bar {
  font-size: 24px;
  color: grey;
}

.profile-details > p {
  color: gray;
}

.profile-details > h4 {
  font-weight: 400;
}

.dashboard-logo-wrapper > img {
  width: 150px;
}

.side-bar {
  width: 220px;
  position: sticky;
  height: 100vh;
}

.side-bar > a {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  gap: 10px;
  color: gray;
  padding: 8px;
  margin: 5px;
}

.side-bar a.active {
  background-color: #475be8;
  color: #fff;
  border-radius: 10px;
}

.dashboard-container {
  display: flex;
  border: 1px red solid;
}

.main-section-dashboard {
  border: 1px solid blue;
  background: #f4f4f4;
  width: 100%;
}

.main-section-dashboard-wrapper {
  padding: 15px;
}

.dashboard-wrapper-bar {
  display: flex;
  justify-content: space-between;
}

.dashboard-wrapper-bar > a {
  text-decoration: none;
  background: #475be8;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.dashboard-wrapper-bar > h2 {
  color: #11142d;
}

.main-property {
  margin-top: 15px;
  background: white;
  width: 100%;
  border: 1px solid yellow;
  min-height: 70%;
  border-radius: 3px;

}

.dashboard-filters {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 10px;
}

.search-bar-property {
  display: flex;
  background: #f4f4f4;
  color: darkgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 200px;
  margin-left: 60px;
  gap: 20px;
}

.search-bar-property-two {
  display: flex;
  background: #f4f4f4;
  color: darkgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 200px;
  margin-left: 60px;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.card{
    
}